* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 15px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
}
body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body.lock {
  overflow: hidden;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  width: 100%;
  background-color: #e2e2e2;
}

.container__row {
  display: flex;
  justify-content: center;
}

.header {
  background-color: brown;
  color: #fff;
  text-align: center;
}

.row {
  width: 33.333%;
  padding: 20px;
  box-shadow: 0.7px 0 0 0 #fff, 0 0.7px 0 0 #fff, 0.7px 0.7px 0 0 #fff;
  flex-grow: 1;
}
